language = "c"
run = "gcc -o labrabota2-1 /home/runner/lab2-task1-gr9a-akunets/src/main.c && ./labrabota2-1"
modules = ["c-clang14"]

[deployment]
run = ["sh", "-c", "gcc -o labrabota2-1 /home/runner/lab2-task1-gr9a-akunets/src/main.c"]

[nix]
channel = "stable-24_05"
