language = "c"
run = "gcc -o labrabota2-1 /home/runner/workspace/src/main.c && ./labrabota2-1"
modules = ["c-clang14"]

[deployment]
run = ["sh", "-c", "gcc -o labrabota2-1 /home/runner/lworkspace/src/main.c"]

[nix]
channel = "stable-24_05"
